# Dependencies
node_modules

# Build output
dist

# Environment
.env

# Package results
packages/audio-lab/results

# Mac junk
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.pyc
*.pyo

# Zip files
*.zip

# Editor files
.vscode/
.idea/
